.App .container {
  border: 1px solid #fafafa;
  padding: 16px;
  margin: 30px auto;
  max-width: 900px;
  border-radius: 10px;
  background-color: #fafafa;
}

.App .logo {
  max-width: 110px;
  position: relative;
  left: 300px;
}

.App h1 {
  position: relative;
  left: 410px;
  top: -80px;
}

.App footer {
  text-align: center;
}
