.Meaning h3 {
  font-size: 25px;
  line-height: 1.5;
  font-weight: bold;
  text-transform: capitalize;
}

.Meaning .meaning-example {
  font-size: 14px;
  opacity: 0.6;
  font-style: italic;
  text-transform: capitalize;
}
