.Synonyms {
  margin-top: 15px 0 0;
  padding: 0;
}

.Synonyms li {
  display: inline-block;
  padding: 9px 7px;
  font-size: 13px;
  line-height: 1;
  border: 1px solid black;
  border-radius: 6px;
  margin: 6px 7px;
}
